<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Главная

                </a>
            </li>
        </ul>
    </div>
</nav>

<form action="/translate" method="post">

    <p>Перевести с
    <select name="langFrom">
        <option value="en"selected>Английского</option>
        <option value="ru">Русского</option>
        <option value="es" >Испанского</option>
    </select>
    на
    <select name="langTo">
        <option value="en">Английский</option>
        <option value="ru"selected>Русский</option>
        <option value="es" >Испанский</option>
    </select>

    <div class="form-group">
        <label for="exampleFormControlInput1">Слово для перевода:</label>
        <input type="text" class="form-control" name="word"
               placeholder=" Введите слово ">
    </div>

    <div class="form-group">
        <button class="btn btn-dark" type="submit"
                formmethod="post" >Перевести</button>
    </div>
</form>
</body>
</html>